@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --navbar-bg:#af1f24;
    --navbar-text: whitesmoke;
    --welcome-bg: #353535;
    --logo-background: black;
    --light-grey:  #b4b4b4;
  }

  /* CSS Reset */
  * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  #navbar {
    font-family: 'Belanosima', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    background-color: var(--navbar-bg);
    
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around; 
  }

  .nav-link {   
    color: var(--navbar-text);
    text-decoration: none;
  }

  .nav-link:hover {   
    color: var(--navbar-text);
    text-decoration: underline;
  }

  #welcome-section {
    height: 100vh;
    width: 100%;
    background-color: var(--welcome-bg);
    color: var(--navbar-text);
    margin:0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  h1 {
    font-family: 'Belanosima', sans-serif;
    font-size: 3.6rem;
    margin-bottom: 0.3rem;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color: var(--navbar-text);
    padding-bottom: 1rem;
  }

  p {
    color: var(--light-grey);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    margin-top: 0;
  }

  #projects{
    margin: 0;
    background-color: var(--logo-background);
    padding-top: 4em;
  }

  .project-links {
    margin: 0 2em;
    padding: 2em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 36px;
  }

  .project-tile {
    width: 250px;
    height: 326px;
    background-color: var(--welcome-bg);
  }

  img{
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .project-tile .text{
    width: 250px;
    color: var(--navbar-text);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  
  #contact {
    background-color: var(--welcome-bg);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  a {
    margin: 0;
    color: var(--navbar-text);
    text-decoration: none;
  }

   a:hover{
    color: var(--navbar-text);
    text-decoration: underline;
  }

  .social {
    padding: 2rem;
    color: var(--navbar-text);
  }

  .social i {
    padding: 0 0.2em;
  }

  @media (max-width: 768px) {
    #navbar {
      font-size: 1rem;
    }
  
  }